@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  background: #17161b;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

ul {
  padding: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main"
    "aside main main";
  grid-template-columns: repeat(auto-fix, minmax(12rem, 1fr));
  gap: 8rem 0;
}

.grid-init {
  max-width: 1440px;
  margin: auto;
  padding: 3rem 2.4rem 4rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 117%;
  margin-right: 7rem;
}

.header__nav {
  margin-right: 9.2rem;
}

.header__list {
  display: flex;
}

.header__item {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 117%;
}

.header__item:not(:last-of-type) {
  margin-right: 2rem;
}

.header__find {
  width: 33rem;
  height: 4.1rem;
  border-radius: 0.8rem;
  overflow: hidden;
  margin-right: 4rem;
}

.header__find input {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08) url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: top 50% right 1.5rem;
  padding: 0 4.5rem 0 1rem;
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
}

.header__find input::placeholder {
  color: #fff;
}

.header__date {
  text-align: center;
  margin-right: 8.6rem;
}

.header__hour {
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  margin-bottom: 0.4rem;
}

.header__day {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 117%;
}

.header__personal {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.main-display__trailer {
  width: 98.5%;
  height: 20.2rem;
  background: url("../img/back-trailer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.6rem;
  padding: 1.9rem;
  position: relative;
  overflow: hidden;
}

.main-display__trailer::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.main-display__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.main-display__views {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 119%;
}

.main-display__header {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 117%;
  margin-bottom: 0.5rem;
}

.main-display__date {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 114%;
}

.button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.07);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-play div:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: blur(16px) brightness(0.3);
  background-color: rgba(255, 255, 255, 0.75);
}

.button-play__pause {
  width: 2.5rem;
  height: 2.5rem;
  background: url("../img/pause.svg") no-repeat;
  background-position: center;
  position: relative;
  left: 0.2rem;
}

.title {
  padding: 3.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.title__main,
.title__count {
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
}

.title__count {
  color: rgba(255, 255, 255, 0.2);
  margin-left: 2rem;
  padding-top: 0.25rem;
}

.title__left,
.title__right {
  display: flex;
  align-items: center;
}

.title__right span {
  font-size: 14px;
  line-height: 114%;
  color: rgba(255, 255, 255, 0.2);
}

.title__right img {
  width: 2rem;
  height: 1.6rem;
  margin-left: 0.8rem;
}

.trending,
.popular {
  display: flex;
  justify-content: space-between;
  padding-right: 1.6rem;
}

.trending__item {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/trending-background-image.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 47.5%;
  border-radius: 1.6rem;
  display: flex;
  align-items: flex-end;
  min-height: 25.1rem;
  position: relative;
  overflow: hidden;
}

.trending__footer,
.popular__footer {
  border-radius: 1.6rem 1.6rem 0 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.07);
  overflow: hidden;
  position: relative;
}

.trending__bg,
.popular__bg {
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%);
  width: 102%;
  height: 100%;
  background: rgba(68, 68, 88, 0.75);
  filter: blur(1px) brightness(0.32);
}

.popular__bg {
  background: rgba(90, 90, 90, 0.75);
  filter: blur(1px) brightness(0.32);
}

.trending__content,
.popular__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.8rem 1.8rem 1.8rem 7rem;
  position: relative;
}

.popular__content {
  padding: 1rem 1.8rem 1rem 5.5rem;
}

.trending__header {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: 0.5rem;
}

.trending__date {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
}

.trending__plash {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114%;
  padding: 0.4rem 1.4rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1.6rem;
}

.trending__button-play {
  left: 6.5%;
  width: 4rem;
  height: 4rem;
}

.popular__button-play {
  left: 7.5%;
  width: 2.6rem;
  height: 2.6rem;
}

.trending__button-play .button-play__pause {
  width: 1.1rem;
  height: 1.1rem;
  left: 0.1rem;
}

.popular__button-play .button-play__pause {
  width: 0.7rem;
  height: 0.7rem;
  left: 0.05rem;
}

.trending__time {
  background: #fff;
  border-radius: 1.6rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114%;
  color: #000;
  padding: 0.4rem 1.3rem;
}

.popular__item {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/popular-background-image.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 30%;
  border-radius: 1.6rem;
  display: flex;
  align-items: flex-end;
  height: 19.2rem;
  position: relative;
}

.popular__header {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  margin-bottom: 0.2rem;
}

.popular__date {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 113%;
}

.popular__rating {
  display: flex;
  align-items: center;
}

.popular__rating span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  margin-left: 0.4rem;
}

.aside {
  border-right: 2px solid #1c1b1f;
  margin-right: 3.6rem;
}

.aside__trailers {
  padding-right: 2.3rem;
}

.aside__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.6rem;
}

.aside__header {
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
}

.aside__sort {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114%;
}

.aside__sort-text {
  margin-right: 1.5rem;
  opacity: 0.4;
}

.aside__sort-select {
  display: flex;
  align-items: center;
}

.aside__img {
  display: flex;
  flex-direction: column;
  margin-left: 0.4rem;
}

.aside__img img {
  width: 0.6rem;
  height: 0.6rem;
  cursor: pointer;
}

.aside__img img:last-of-type {
  margin-top: 0.2rem;
  transform: rotate(180deg);
}

.aside__item {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(.jpg), url("../img/aside-background-image.png") no-repeat;
  min-height: 22.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.9rem;
}

.aside__item:nth-of-type(2) {
  margin-bottom: 3rem;
}

.aside__item:nth-of-type(3) {
  margin-bottom: 4rem;
}

.aside__views {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.1875rem;
}

.aside__item-name {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 116%;
  margin-bottom: 0.5rem;
}

.aside__item-date {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 114%;
}

.aside__bottom {
  padding: 2.5rem 0 2.5rem 2.4rem;
  background: rgba(255, 255, 255, 0.02);
}

.aside-favourite__title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 114%;
  margin-bottom: 2rem;
}

.aside__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: 30rem;
}

.aside-genre {
  font-size: 1.2rem;
  line-height: 117%;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  margin-bottom: 2rem;
}

.aside-genre--purple {
  background: #8066f6;
}

.aside-genre--orange {
  background: #e1784f;
}

.aside-genre--grey {
  background: #2b2a2f;
}

.aside-genre--green {
  background: #63cfe1;
}

.aside-genre:not(:nth-of-type(3)) {
  margin-right: 3rem;
}

.aside__line {
  display: block;
  margin: 1rem 0 2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  width: 6.5rem;
  height: 0px;
}

.aside__add {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  cursor: pointer;
}

.aside__bottom .aside-genre {
  cursor: pointer;
  user-select: none;
}

.aside__add-plus {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #2b2a2f;
  padding: 0.09rem 0.5rem;
  margin-right: 0.5rem;
}

.aside__add span {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114%;
}

/* СЕТКА */
@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 26em) {
  html {
    font-size: 4.5px;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}

/* СЕТКА */
